<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BankOfPratianDB" connectionString="Server=(localdb)\MSSQLLocalDB;Database=BankOfPratianDB;Trusted_Connection=True;" />
	</connectionStrings>
	<appSettings>
		<add key="DailyLimits" value="REGULAR:100000.0;GOLD:200000.0;PREMIUM:300000.0" />
		<add key="Policies" value="SAVINGS-REGULAR:5000.0,0.04;SAVINGS-GOLD:25000.0,0.0425;SAVINGS-PREMIUM:100000.0,0.0475;CURRENT-REGULAR:25000.0,0.020;CURRENT-GOLD:100000.0,0.0225;CURRENT-PREMIUM:300000.0,0.0275" />
		<add key="ServiceBanks" value="ICICI:BankOfPratian.Business.ICICIBankService;HDFC:BankOfPratian.Business.HDFCBankService"/>
	</appSettings>
</configuration>